# ignored files

# maven target directory and everything in it
target/

# eclipse stuff, should be generated if you import maven project
.classpath
.project
.settings/

# IntelliJ
*.eml
*.iml
*.ipr
*.iws
.idea

# wurfl.zip is actually needed, but it is > 1 MB, and you might want to get the
# latest version anyway.
# Download from http://downloads.sourceforge.net/project/wurfl/WURFL/latest/wurfl-latest.zip
# and put it in src/main/webapp/WEB-INF
wurfl.zip
